body {
	margin: 0;
	padding: 0;

	min-width: 1122px;	

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;

	background: #000000 url(../img/bg.jpg) top center no-repeat;
}

.inner-page {
	color: #000000;

	background: #f8f5f5 url(../img/bg-content.jpg) 0 0 repeat;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 10px 30px;

	font: inherit;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #663d15;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	margin-bottom: 75px;
}

.inner-page .main-header {
	margin-bottom: 0;

	background-color: #000000;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: transparent;
}

.inner-page .main-navigation {
	flex-direction: row;
	flex-direction: flex-start;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	
	background-color: #000000;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.main-header-logo {
	order: 2;
	width: 368px;
	height: 153px;
}

.header-logo {
	padding: 23px 20px;

	order: 0;
	width: 111px;
	height: 24px;
}

.site-navigation {
	display: flex;

	margin: 0;
	padding: 0;

	width: 620px;
	
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 26px 22px;
}

.user-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	width: 140px;
	
	list-style: none;
	text-align: right;
}

.user-navigation li {
	margin-left: auto;
}

.user-navigation a {
	padding-left: 53px;
}

.login-link {
	position: relative;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 24px;
	transform: translateY(-50%);

	width: 14px;
	height: 14px;

	background: url(../img/icon-login.svg) 0 0;
	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.inner-page .user-navigation {
	margin-left: auto;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.features {
	margin-bottom: 80px;
}

.features__list {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	
	list-style: none;
}

.features__item {
	width: 300px;
	
	text-align: center;
}

.features__item h3{
	position: relative;

	margin: 0;
	margin-bottom: 60px;

	font-size: 30px;
	line-height: 42px;
}

.features__item h3:after {
	content: "";
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);

	width: 20px;
	height: 20px;

	background-color: #ffffff;
}

.features__item p {
	padding: 0 15px;
}

.content {
	padding: 50px 80px;
	margin-bottom: 35px;

	display: flex;
	justify-content: space-between;

	color: #000000;
	
	background: 
		url(../img/contect-shadow.png) 50% 50% no-repeat,
		#f8f5f5 url(../img/bg-content.jpg) 0 0 repeat;
}

.content h1 {
	font-size: 30px;
	line-height: 42px;
}

.content h2 {
	margin: 0;
	margin-bottom: 30px;

	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 380px;
}

.news__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.news__item {
	margin-bottom: 25px;
}

.news__item p {
	margin: 0;
}

.news__item time {
	text-transform: none;
}

.news .btn {
	margin-top: 8px;
}

.gallery {
	width: 300px;
}

.gallery-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery__content {
	margin: 0; 

	font-size: 0;
	line-height: 0;
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery__btn {
	margin-top: 38px;
	width: 140px;
}

.contacts {
	width: 380px;
}

.contacts p {
	margin: 0;
	margin-bottom: 25px; 
}

.appointment {
	width: 300px;
}

.appointment p {
	margin: 0;
	margin-bottom: 20px;
}

.appointment__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment__form .btn {
	width: 100%;
}

.appointment__item {
	width: 140px;
}

.appointment__item label {
	display: block;
	margin-bottom: 7px;
	padding-left: 17px;
}

.appointment__item input {
	padding: 0 15px;

	width: 140px;
	height: 43px;
	box-sizing: border-box;

	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.appointment__item input:focus {
	border-color: #663d15;
}

.main-footer {
	margin-top: 65px;
	padding: 60px 0;

	color: #ffffff;

	background: #212121 url(../img/bg-footer.jpg) 0 0 repeat;
}

.inner-page .main-footer {
	margin-top: 0;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	margin: 0;
	margin-right: 80px;
	
	width: 320px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	width: 145px;
}

.footer-social b {
	display: block;
	margin-bottom: 15px;

	text-align: center;
}

.footer-social ul {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
}

.btn-social {
	padding: 0;
	margin: 0;
	margin-bottom: 6px;

	width: 43px;
	height: 43px;

	color: #ffffff;

	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.btn-social-vk {
	background-image: url(../img/icon-vk.svg);
}

.btn-social-fb {
	background-image: url(../img/icon-fb.svg);
}

.btn-social-ig {
	background-image: url(../img/icon-ig.svg);
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active {
	color: #000000;

	background-color: #ffffff;
}

.btn-social-vk:hover,
.btn-social-vk:focus,
.btn-social-vk:active {
	background-image: url(../img/icon-vk_hover.svg);
}

.btn-social-fb:hover,
.btn-social-fb:focus,
.btn-social-fb:active {
	background-image: url(../img/icon-fb_hover.svg);
}

.btn-social-ig:hover,
.btn-social-ig:focus,
.btn-social-ig:active {
	background-image: url(../img/icon-ig_hover.svg);
}

.footer-copyright {
	margin: 0;
	margin-left: auto;

	width: 150px;
}

.footer-copyright b {
	display: block;
	margin-bottom: 15px;

	text-align: center;
}

.footer-copyright .btn:hover,
.footer-copyright .btn:focus {
	color: #000000;

	background-color: #ffffff;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

.inner-page main {
	padding-top: 50px;
	padding-bottom: 50px;
}

.page-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	display: flex;

	list-style: none;
}

.breadcrumbs li:not(:first-child) {
	position: relative;
	padding-left: 40px;

	color: #aba9a7;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(-50%, -50%) rotate(45deg);

	width: 8px;
	height: 8px;

	background-color: #000000;
}

.breadcrumbs a {
	color: #000000;
}

.main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.filters {
	width: 180px;	
}

.filters fieldset {

	margin: 0;
	padding: 0;
}

fieldset.producer {
	margin-bottom: 28px;
}

.filters label {
	padding-left: 43px;
	margin-bottom: 20px;

	display: block;

	font-size: 14px;
	line-height: 18px;
}

.producer,
.goods-category {
	border: none;
}

.producer legend,
.goods-category legend {
	margin: 0;
	margin-bottom: 25px;

	font-size: 24px;
	line-height: 30px;
}

.filter input {
	
}

.btn-filter {
	margin-top: 30px;
}

.catalog {
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
	width: 700px;
}

.catalog__item {
	/*margin: 0 10px 20px 10px;*/
	margin-bottom: 20px; 
	margin-right: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 220px;

	color: #000000;

	background-color: #ffffff;
}

.catalog__item:nth-of-type(3n) {
	margin-right: 0;
}

.catalog__item h3 {
	margin: 13px 16px;

	color: #000000;
	font-size: 14px;
	line-height: 18px;
}

.catalog__item span {
	display: block;
}

.catalog__category {
	text-transform: none;
}

.catalog__item .good__buy {
	margin: 0 16px 16px;
	justify-content: center;
}

.good__price {
	padding: 10px 0;	

	width: 109px;

	text-align: center;
	color: #000000;

	background-color: #e5e5e5;
}

.btn-buy {
	padding: 10px 0;

	width: 78px;
	box-sizing: border-box;
}

.paginator {
	margin: 0;
	margin-top: 25px;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	width: 100%;

	list-style: none;
}

.paginator li {
	margin-right: 7px;
}
.paginator li:last-child {
	margin-right: 0;
}

.btn-paginator {
	padding: 9px 18px;

	min-width: 43px;
	height: 43px;
	box-sizing: border-box;

	text-align: center;
	vertical-align: middle;
}

.btn-paginator_active,
.btn-paginator_active:hover,
.btn-paginator_active:focus {
	color: #000000;

	background-color: #ffffff;
}

.good__images {
	width: 460px;
}

.good__images img {
	box-shadow: 0 0 15px 0 rgba(195, 195, 195, .2);
}

.good__images_preview {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;

	list-style: none;
}

.good__info {
	width: 390px;
}

.good__availability,
.good__article {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 25px;
}

.good__article {
	color: #aeaeae;
}

.good__description {
	margin: 0;
	margin-bottom: 35px;
}

.good__info .good__buy {
	margin-bottom: 64px;
}

.good__info h3 {
	font-size: 24px;
	line-height: 30px;
}

.good__buy {
	margin: 0;
	display: flex;
	justify-content: flex-start;
}

.good__composition {
	padding-left: 21px;

	list-style: none;
}

.good__composition li {
	position: relative;
}

.good__composition li::before {
	position: absolute;
	top: 8px;
	left: -19px;
	transform: rotate(45deg);

	content: "";
	width: 8px;
	height: 8px;

	background-color: #000000;
}

.price-page__title {
	position: relative;
	margin-bottom: 60px;

	font-size: 48px;
	line-height: 48px;
	text-align: center;

	/*background: #f8f5f5 url(../img/bg-content.jpg) 0 0 repeat;*/

	overflow: hidden;
}

.price-page__title::before,
.price-page__title::after {
	content: "";
	position: absolute;
	
	top: 50%;
	width: 100%;

	border-top: 2px solid #000000;	
}

.price-page__title::before {
	margin-left: calc(-100% - 26px);
}

.price-page__title::after {
	margin-left: 26px;
}

.price-page h3 {
	font-size: 24px;
	line-height: 30px;
}

.price-page__features {
	width: 300px;
	margin-right: 180px;
}

.price-page__producer {
	padding-left: 21px;

	list-style: none;
}

.price-page__producer li {
	position: relative;
}

.price-page__producer li::before {
	position: absolute;
	top: 8px;
	left: -19px;
	transform: rotate(45deg);

	content: "";
	width: 8px;
	height: 8px;

	background-color: #000000;
}

.price-page-wrapper {
	display: flex;
}

.price-page__prices {
	width: 460px;
}

.price-page__prices table {
	border-collapse: collapse;
}

.price-page__prices td {
	width: 230px;
	padding: 10px;
	padding-left: 18px;
	border: 2px solid #000101;
}

.price-page__prices td:nth-child(2n) {
	text-align: center;
}

.price-page__aboutus p {
	width: 400px;
}

.price-page__aboutus p:nth-child(1) {
	margin-right: 80px;
}

.modal {
	display: none;

	position: fixed;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	
	color: #000000;
	
	background: #f8f3f5 url(../img/bg-content.jpg) 0 0 repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
}

.madal-wrapper {
	position: relative;
}

.modal-close {
	position: absolute;
	top: 9px;
	right: -33px;

	width: 19px;
	height: 19px;

	border: none;
	background: none;

	cursor: pointer;
}

.modal-close::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	width: 5px;
	height: 20px;
	
	background-color: #d0d0d0;
}

.modal-close::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);

	width: 5px;
	height: 20px;
	
	background-color: #d0d0d0;
}

.modal-login .madal-wrapper {
	padding: 49px 80px 58px;

	width: 300px;
	height: 278px;
}

.modal-login h2 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 42px;
}

.modal-login p {
	margin: 0;
	margin-bottom: 15px;
}

.modal-login .login-form {
	display: flex;
	flex-wrap: wrap; 
}

.login-form input {
	width: 100%;
	margin-bottom: 9px;
	padding: 10px 15px;

	height: 43px;
	box-sizing: border-box;
	font: inherit;
	
	border: 2px solid #000000;

	background-color: #f9f6f3;	
	background-position: 95% center;
	background-repeat: no-repeat;
}

.login-form input:last-of-type {
	margin-bottom: 15px;
}

.login-form input::placeholder {
	color: #000000;
}

.login-icon-user {
	background-image: url(../img/icon-user.svg);
}

.login-icon-paswword {
	background-image: url(../img/icon-lock.svg); 
}

.login-password-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
}

.login-checkbox {
	padding-left: 32px;
}

.modal-login .btn {
	width: 100%;
}

.modal-map p {
	margin: 0;
	font-size: 0;
    line-height: 0;
}

.modal-map img {
	width: 767px;
	height: 561px;

	border: 7px solid #ffffff;
}
