body {	
	font-family: 'PT Sans Narrow', 'Aray', sans-serif;
	text-align: center;	
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;

	background: #ffffff url(../img/bg.jpg) no-repeat;	
}

h1 {
	font-family: 'PT Sans Narrow', 'Aray', sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;

	margin: 0;
	margin-bottom: 25px;
}

h2 {
	font-family: 'PT Sans Narrow', 'Aray', sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;

	margin: 0;
	margin-bottom: 25px;
}

h3 {
	font-family: 'PT Sans Narrow', 'Aray', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	margin-bottom: 15px;
}

h3 .catalog__category {
	text-transform: capitalize;
}

a {
	text-decoration: none;
}

.features {
	color: #ffffff;
}

.content {
	background: #000000 url(../img/bg-content.jpg) repeat;
}

.main-footer {
	background: #ffffff url(../img/bg-footer.jpg) repeat;
}

.footer-contacts,
.footer-social {
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}